apiVersion: apps/v1
kind: Deployment
metadata:
  name: podpri-pic-frontend-deployment
  labels:
    app: podpri-pic-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: podpri-pic-frontend
  template:
    metadata:
      labels:
        app: podpri-pic-frontend
    spec:
      containers:
        - name: podpri-pic-frontend
          image: podpri-pic-frontend
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              value: https://podpri.lb.djnd.si
          resources:
            requests:
              memory: 100Mi
              cpu: 100m
            limits:
              memory: 100Mi
              cpu: 100m
