apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pic
resources:
  - podpri/deployment.yaml
  - podpri/service.yaml
  - podpri/ingress.yaml
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml

images:
  - name: podpri-pic
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic
    newTag: 'ee9df6e83f5b5088574f0dab377b6fff803e862c'

  - name: podpri-pic-frontend
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic-frontend
    newTag: 'ee9df6e83f5b5088574f0dab377b6fff803e862c'
