apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shared
resources:
  # - mautic/statefulset.yaml
  # - mautic/service.yaml
  # - mautic/ingress.yaml
  - podpri/deployment.yaml
  - podpri/service.yaml
  - podpri/ingress.yaml
  - podpri/pair-mauitc-contact-cronjob.yaml
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml
  - mautic-5/pvc.yaml
  - mautic-5/deployment.yaml
  - mautic-5/service.yaml
  - mautic-5/ingress.yaml
  - mautic-5/mautic-cronjobs.yaml
  - mautic-5/backup-mautic-static-files.yaml

images:
  - name: podpri
    newName: rg.fr-par.scw.cloud/djnd/podpri
    newTag: 'bd386b7c3db854e4f1c4616b7e2f0c1c7c617584'

  - name: podpri-frontend
    newName: rg.fr-par.scw.cloud/djnd/podpri-frontend
    newTag: 'bd386b7c3db854e4f1c4616b7e2f0c1c7c617584'
  
  - name: podpri-mautic
    newName: rg.fr-par.scw.cloud/djnd/podpri-mautic
    newTag: 'bd386b7c3db854e4f1c4616b7e2f0c1c7c617584'
