apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pic
resources:
  - podpri/deployment.yaml
  - podpri/service.yaml
  - podpri/ingress.yaml
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml

images:
  - name: podpri-pic
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic
    newTag: 'adb4b65675ff6cb35540d21a6154f521a48fef72'

  - name: podpri-pic-frontend
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic-frontend
    newTag: 'adb4b65675ff6cb35540d21a6154f521a48fef72'
