apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pic
resources:
  - podpri/deployment.yaml
  - podpri/service.yaml
  - podpri/ingress.yaml
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml

images:
  - name: podpri-pic
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic
    newTag: '0a99e735c2e9e4bba55c6f0af65464d7316caecc'

  - name: podpri-pic-frontend
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic-frontend
    newTag: '0a99e735c2e9e4bba55c6f0af65464d7316caecc'
