apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pic
resources:
  - podpri/deployment.yaml
  - podpri/service.yaml
  - podpri/ingress.yaml
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml

images:
  - name: podpri-pic
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic
    newTag: 'cd88891a97325b722965c1efe5c7a61b8d525177'

  - name: podpri-pic-frontend
    newName: rg.fr-par.scw.cloud/djnd/podpri-pic-frontend
    newTag: 'cd88891a97325b722965c1efe5c7a61b8d525177'
