Django==5.2.8
django-admin-sortable2==2.2.8
djangorestframework==3.16.1
django-filter==25.1
drf-writable-nested==0.7.2
django-behaviors==0.5.1
django-cors-headers==4.9.0
django-tinymce==4.1.0
django-wkhtmltopdf==3.4.0
qrcodegen==1.8.0
Pillow
slackclient==2.9.4
braintree==4.38.0
requests
coreapi
django-import-export==4.3.10
psycopg2_binary==2.9.10
gunicorn==23.0.0
ipython
sentry-sdk
boto3==1.40.44
django-storages==1.14.6
arrow
