Django==3.2.18
django-admin-sortable2==0.7.1
djangorestframework==3.12.4
django-filter==2.1.0
drf-writable-nested==0.5.1
django-behaviors==0.4.1
django-cors-headers==3.10.0
django-tinymce==2.8.0
django-wkhtmltopdf==3.3.0
qrcodegen==1.4.0
Pillow
slackclient==2.0.1
braintree==4.18.0
requests==2.22.0
coreapi==2.3.3
django-import-export==2.5.0
psycopg2_binary==2.9.1
gunicorn==20.1.0
ipython
sentry-sdk
boto3
django-storages
