kind: Secret
apiVersion: v1
metadata:
  name: podpri-credentials
  labels:
    app: podpri-credentials
    app.kubernetes.io/name: podpri-credentials
stringData:
  APP_ENV: production
  DJANGO_BASE_URL: http://localhost
  DJANGO_DATABASE_HOST: dbhost
  DJANGO_DATABASE_NAME: dbname
  DJANGO_DATABASE_PASSWORD: password
  DJANGO_DATABASE_PORT: '5432'
  DJANGO_DATABASE_USERNAME: username
  DJANGO_SECRET_KEY: blablabla
  DJANGO_SENTRY_URL: https://sentry.ingest.sentry.io/sentry
  BRAINTREE_PRIVATE_KEY: bt-p-key
  BRAINTREE_PUBLIC_KEY: bt-p-key
  BRAINTREE_MERCHANT_ID: bz-k-id
  BRAINTREE_ENV: sandbox
  MAUTIC_URL: mautic-url
  MAUTIC_USER: apiuser
  MAUTIC_PASSWORD: apipassword
  SALT: salt
  CEBELCA_KEY: aaaaaaaaaaaaaaaaaaaaaaaaa
  SLACK_KEY: aaaaaaaaaaaaaaaaaaaaaaaaa
  AGRUM_TOKEN: aaaaaaaaaaaaaaaaaaaaaaaaa
  EMAIL_TOKEN: aaaaaaaaaaaaaaaaaaaaaaaaa

