apiVersion: v1
kind: Secret
metadata:
  name: mautic-credentials
  labels:
    app.kubernetes.io/name: mautic-credentials
    app: mautic-credentials
stringData:
  MAUTIC_DB_HOST: mariadb.localhost
  MAUTIC_DB_USER: mautic
  MAUTIC_DB_PASSWORD: mauticpassword
  MAUTIC_DB_NAME: mautic
