<mjml>
  <mj-head>
    <mj-title>{subject}
    </mj-title>
    <mj-preview>
      <span></span>
    </mj-preview>
    <mj-attributes>
      <mj-all margin="0">
      </mj-all>
    </mj-attributes>
    <!-- CSS-STYLE -->
    <mj-style inline="inline"> p, li {margin:0; padding:0;}
    </mj-style>
  </mj-head>
  <mj-body background-color="#f0f0f0">
    <!-- open in browser -->
    <mj-section background-color="#f0f0f0" padding="20px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="11px" padding="0px 30px 0px 30px">
          <a href="{webview_url}" style="text-decoration: underline; color: inherit;">
            Vsebina ni prikazana pravilno? Odprite v brskalniku.
          </a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- header with logo -->
    <mj-section padding-top="48px" background-color="#f0f0f0">
      <mj-column>
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/logo-sb.png', null, null, true) }}" alt="Stanovanjski blok logo" href="https://glas-ljudstva.si" align="center" border="none" padding="0px 15px 0px 15px" />
        </mj-image>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="igrgz" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Zdravo!</span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="idomf" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>Ekipa Stanovanjskega bloka pripravlja protestno akcijo kot odziv na zaostrovanje stanovanjske krize in manjko korenitih ukrepov, ki bi omejili prevlado kapitalskih interesov in v ospredje postavili potrebe ljudi in pravico do varnega doma. </strong></span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="iaqqo" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Gospodarska zbornica Slovenije med 13. in 14. novembrom 2024 v Portorožu organizira posvet z naslovom ‘</span></span>
            <a href="https://posvetnepremicnine.si/" id="iowfh" draggable="true" style="text-decoration:none;"><span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="ikd75" draggable="true" class="gjs-no-pointer" style="-webkit-text-decoration-skip:none;font-family:Arial,sans-serif;font-style:normal;font-variant:normal;font-weight:400;text-decoration-skip-ink:none;vertical-align:baseline;white-space:pre-wrap;"><u>Poslovanje z nepremičninami
              </u></span></span></a>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="iyfjb" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">’, na katerem bodo sodelovale različne nepremičninske firme, interesne in lobistične skupine, stanovanjski skladi in predstavniki_ce ministrstev. Očitno udeležba širše zainteresirane javnosti na konferenci ni posebej dobrodošla, saj  je potrebno za udeležbo na dvodnevnem dogodku odšteti kar 420€! Zato si ne moremo obetati drugačnih zaključkov posveta kot tistih, ki so na strani velikih lastnikov nepremičnin in kapitala. </span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>




    <mj-section>
      <mj-column>
        <mj-text>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="ir5z6" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>V protest bomo vzporedno s konferenco v Portorožu, v četrtek, 14. novembra 2024 stopili pred odločevalce in nepremičninske lobije z namenom, da opozorimo na zoostrovanje stanja na najemnem trgu, </strong></span><span id="idi8i" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Soočili jih bomo z njihovimi lastnimi obljubami in zahtevali takojšnje spremembe stanovanjske politike ter napovedali boj proti izkoriščanju delovnih ljudi za bogatenje najemodajalcev. </span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="ifdr5" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>KDAJ? - Četrtek, 14. november, ob 8.45 </strong></span></span>
            <br/>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="iockl" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>KJE? - Pred hotelom Slovenija, Kongresni center Portus v Portorožu</strong></span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="i44m5" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Pridite in pridružite se nam tudi na novinarski konferenci ob 11:30 na istem mestu. </span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="ijg5m6" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>Za lažjo organizacijo prevozov vas prosimo, da nam z odgovorom na mail </strong></span></span>
            <a href="mailto:info@stanovanjskiblok.si" id="i0mk4j" draggable="true"><span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="iqzy5c" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong>info@stanovanjskiblok.si</strong></span></span></a>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="i75l9g" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><strong> sporočite, če nimate lastnega prevoza oziroma ali lahko sami ponudite prevoz. </strong></span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="idsguq" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Le združeni lahko ustavimo stanovanjsko krizo. Brez ljudi in kolektivov, ki razumejo, da se moramo organizirati za pravico do primernega doma pred pohlepom špekulantov, ta boj nima smisla. Zato v Stanovanjskem bloku potrebujemo vašo podporo!</span></span>
            <br/>
            <br data-cke-filler="true"/>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>



   <mj-section>
      <mj-column>
        <mj-text>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="i3od3k" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Borben pozdrav!</span></span>
          </p>
          <br data-cke-filler="true"/>
          <p>
            <span style="color:#000000;font-family:'Open Sans';font-size:18px;"><span id="ibgubv" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Ekipa Stanovanjskega bloka</span></span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0px" padding-bottom="0px">
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-image src="https://mautic.lb.djnd.si/media/images/prtoestna_akcija.jpg">
        </mj-image>
      </mj-column>
    </mj-section>

    <mj-section css-class="graylink" padding-top="0" padding-bottom="32px" background-color="#f0f0f0">
    </mj-section>
  </mj-body>
</mjml>
