<html>
    <head>
        <!-- Load the Client component. -->
        <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

    </head>
    <body>
        <form id="checkout-form">
            <div id="dropin-container"></div>
            <button class="submit-button" type="submit" value="Submit">Submit</button>
        </form>

    </body>
    <script>
    var button = document.querySelector('.submit-button');
    var client = new braintree.api.Client({
        // Use the generated client token to instantiate the Braintree client.
        clientToken: '{{ token }}'
    })
    braintree.setup('{{ token }}', 'dropin', {
        container: 'dropin-container',
        form: 'checkout-form',
        onPaymentMethodReceived: function (obj) {
                console.log(obj);
                client.verify3DS({
                    amount: '43',
                    creditCard: obj.nonce
                    }, function (err, response) {
                    // Send response.nonce to use in your transaction
                    console.log(response)
                    });
            }
        });
    </script>
</html>
