<mjml>
  <mj-head>
    <mj-title>{subject}
    </mj-title>
    <mj-preview>
      <span></span>
    </mj-preview>
    <mj-attributes>
      <mj-all margin="0">
      </mj-all>
    </mj-attributes>
    <!-- CSS-STYLE -->
    <mj-style inline="inline"> p, li {margin:0; padding:0;}
    </mj-style>
  </mj-head>
  <mj-body background-color="#f0f0f0">
    <!-- open in browser -->
    <mj-section background-color="#f6f6f6" padding="20px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="11px" padding="0px 30px 0px 30px">
          <a href="{webview_url}" style="text-decoration: underline; color: inherit;">
            Vsebina ni prikazana pravilno? Odprite v brskalniku.
          </a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- header with logo -->
    <mj-section padding-top="48px" background-color="#f0f0f0">
      <mj-column>
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/logo-gl.png', null, null, true) }}" alt="Parlametar logo" href="https://parlametar.hr" align="center" border="none" padding="0px 15px 0px 15px" />
        </mj-image>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text>
          <p>
            <span style="color:#000000;font-size:12pt;"><span id="i2dgf" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;"><strong>Zlorabe položaja se nadaljujejo</strong></span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="ijxcd" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Namesto da bi se odgovorni za referendumski fiasko soočili s posledicami, zdaj iščejo "krivce" tam, kjer jih ni: usmerili so pozornost na iskanje žvižgača, ki je razkril škandalozni posnetek neformalnega sestanka. Namesto da bi se odgovorni za referendumski fiasko soočili s posledicami, zdaj iščejo "krivce" tam, kjer jih ni: usmerili so pozornost na iskanje žvižgača, ki je razkril škandalozni posnetek neformalnega sestanka. Namesto da bi se odgovorni za referendumski fiasko soočili s posledicami, zdaj iščejo "krivce" tam, kjer jih ni: usmerili so pozornost na iskanje žvižgača, ki je razkril škandalozni posnetek neformalnega sestanka. Namesto da bi se odgovorni za referendumski fiasko soočili s posledicami, zdaj iščejo "krivce" tam, kjer jih ni: usmerili so pozornost na iskanje žvižgača, ki je razkril škandalozni posnetek neformalnega sestanka.</span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="i9gbtt" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">V Glasu ljudstva se bomo vsekakor še naprej zavzemali za informiranost volivk in volivcev ter ukrepe, ki bodo delovali v dobrobit vseh. </span></span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

    <!-- image -->
    <mj-section>
      <mj-column>
        <mj-image src="https://mautic.lb.djnd.si/media/images/plakat_zdravstvo.PNG">
        </mj-image>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text>
          <p>
            <span style="color:#000000;font-size:12pt;"><span id="i2dgf" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;"><strong>Zlorabe položaja se nadaljujejo</strong></span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="ijxcd" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Namesto da bi se odgovorni za referendumski fiasko soočili s posledicami, zdaj iščejo "krivce" tam, kjer jih ni: usmerili so pozornost na iskanje žvižgača, ki je razkril škandalozni posnetek neformalnega sestanka.</span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="i9gbtt" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">V Glasu ljudstva se bomo vsekakor še naprej zavzemali za informiranost volivk in volivcev ter ukrepe, ki bodo delovali v dobrobit vseh. </span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="iwl4j1" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Lepo vas pozdravljamo, </span></span>
          </p>
          <p>
            <br data-cke-filler="true"/>
          </p>
          <p>
            <span style="color:#000000;font-size:11pt;"><span id="iiw0bx" draggable="true" class="gjs-no-pointer" style="font-family:Arial,sans-serif;">Glas ljudstva</span></span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

   <mj-section>
      <mj-column>
        <mj-text>
          <p>POZOR: 
            <a href="https://glas-ljudstva.si/" id="im76h">Glas ljudstva</a> združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Podpora organizacije ali posameznice oziroma posameznika ne pomeni nujno, da se ta zavzema za vse predstavljene zahteve, ampak da podpira civilno iniciativo, ki želi, da se do konkretnih zahtev vse politične stranke jasno opredelijo. Samo tako lahko omogočimo volivkam in volivcem, da volijo na podlagi dejanskih zavez konkretnim ukrepom in ne na podlagi političnih floskul ali svežine obrazov.
          </p>
        </mj-text>
        <mj-text color="#000000" font-family="'Open Sans', Helvetica, Arial, sans-serif" font-size="14px" font-weight="400" align="center" padding-top="20px" padding-bottom="0" padding-right="8px" padding-left="8px" line-height="27px" container-background-color="#f0f0f0">
          <p>
            <a href="https://glas-ljudstva.si/" target="_blank" rel="noopener noreferrer" id="i7hw6" draggable="true" class="ck-link_selected"><span style="color:hsl(0, 0%, 0%);">GLAS LJUDSTVA</span></a>
            <span style="color:hsl(0, 0%, 0%);">   |   </span>
            <a href="mailto:info@glas-ljudstva.si" id="iwotr1" draggable="true"><span style="color:hsl(0, 0%, 0%);">info@glas-ljudstva.si</span></a>
          </p>
          <p>
            <a href="https://moj.djnd.si/glas-ljudstva/urejanje-narocnine?token={contactfield=token}&email={contactfield=email}" target="_blank" rel="noopener noreferrer" id="i3fzz9" draggable="true"><span style="color:hsl(0, 0%, 0%);">Odjavi se od prejemanja novic</span></a>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0px" padding-bottom="0px">
    </mj-section>

    <mj-section css-class="graylink" padding-top="0" padding-bottom="32px" background-color="#f0f0f0">
    </mj-section>
  </mj-body>
</mjml>
